<div
  class="min-h-screen flex justify-center p-4 pt-20 relative overflow-hidden"
>
  <!-- Animated gradient background (layer 1) -->
  <div
    class="absolute inset-0 bg-linear-to-tr from-blue-300 via-purple-500 to-red-400 animate-gradient-x"
  ></div>
  <!-- Animated gradient overlay (layer 2) -->
  <div
    class="absolute inset-0 bg-linear-to-bl from-cyan-300 via-pink-500 to-orange-400 opacity-70 animate-gradient-y"
  ></div>

  <z-card
    class="w-full max-w-md relative z-10 backdrop-blur-sm bg-white/90 dark:bg-gray-900/90 shadow-2xl self-start"
  >
    <div class="text-center pb-4">
      <img
        src="/assets/logo-gloomstone-invert-sm.svg"
        width="300"
        height="60"
        alt="gloomstone logo"
        class="mx-auto mb-4"
      />
    </div>
    <div class="space-y-4">
      <form class="space-y-4" [formRoot]="loginForm">
        <div class="space-y-2">
          <z-form-field>
            <label z-form-label for="username">Username</label>
            <z-form-control>
              <input
                z-input
                id="username"
                type="text"
                [formField]="loginForm.username"
              />
            </z-form-control>
          </z-form-field>
          @if (usernameError()) {
            <p class="text-sm text-destructive">{{ usernameError() }}</p>
          }
        </div>

        <div class="space-y-2">
          <z-form-field>
            <label z-form-label for="password">Password</label>
            <z-form-control>
              <input
                z-input
                id="password"
                type="password"
                [formField]="loginForm.password"
              />
            </z-form-control>
          </z-form-field>
          @if (passwordError()) {
            <p class="text-sm text-destructive">{{ passwordError() }}</p>
          }
        </div>

        @if (loginError()) {
          <div class="text-center">
            <p class="text-sm text-destructive">{{ loginError() }}</p>
          </div>
        }

        <button z-button type="submit" zFull [disabled]="isSubmitting()">
          {{ isSubmitting() ? 'Logging in...' : 'Login' }}
        </button>

        <div class="text-right">
          <a
            routerLink="/login/forgot-password"
            class="text-sm text-muted-foreground hover:text-primary"
          >
            Forgot password?
          </a>
        </div>
      </form>
    </div>
  </z-card>
</div>
